# JSON RPC
ETH_SEPOLIA_INFURA_HTTPS_URL=https://sepolia.infura.io/v3/prikey

# Sepolia private key
ETH_SEPOLIA_PRIVATE_KEY=prikey

# SEPOLIA_CHAIN_ID
SEPOLIA_CHAIN_ID=11155111

#SEPOLIA_CONTRACT_ADDRESS
SEPOLIA_CONTRACT_ADDRESS=0xa33987386298b8Fd4989Fc5D53c179446Cb54FCf